.greyrow {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; background-color: #F8F8F8; border-color: #0099CC black black; border-top-width: thin}
.literow {  background-color: #E6E6E6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px}
.legendbox {
	padding: 12px;
	
	}